*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blue;
  background: var(--bg-penguim) no-repeat center/contain;
}

:root{
  --display: none;
  --bg-penguim: none;
}

.penguim{
  --display: block;
  --bg-penguim: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc0APGHzaHMSzicq49EeMwwlhEnrT2wRBaLX7h-qR1v2t4y_Pb3l3k4LM&s=10.jpg)
}
.penguim h2{
 animation: appears 8s infinite;
}

h2{
  display: var(--display);
  color: red;
}

button{
  background-color: yellow;
  font-size: 30px;
  border: 5px solid black;
}

@keyframes appears{
  0% {opacity:0.1;}
  15% {opacity: 0.15; color: green;}
  25% {opacity:0.25; color: red;}
  35% {opacity: 0.35; color: yellow;}
  50% {opacity: 0.5; color: blue;}
  75% {opacity: 0.75; color: Orange ;}
  100% { opacity: 1; color: magenta;}
}